.single-university{
    background-color: #c8cbcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}
.single-university:hover{
    box-shadow: 0px 3px 20px rgb(0 0 0 / 0.2);
    transform: scale(1.02);
}
.img{
    height: 250px;
    width: 400px;
    margin-top: 10px;
}
